<!DOCTYPE html>
<html>
<head>
	<title>Lou Quallenburg Studios</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" /> -->
	<link rel="stylesheet" type="text/css" href="./css/elusive-icons-2.0.0/elusive-icons-2.0.0/css/elusive-icons.min.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/footer.css">
	<link rel="stylesheet" type="text/css" href="./css/reponsive.css">


	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./javascript/script.js"></script>
</head>
<body>

<div class="center">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
	    	<a class="navbar-brand" href="/home">
	    		<img alt="Brand" class="q-logo" src="./img/q-logo.png">
	    	</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a class="nav-links" href="/">Home</a></li>
				<li><a class="nav-links" href="/news">News</a></li>
				<li><a class="nav-links" href="/about">About</a></li>
				<li><a class="nav-links" href="/gallery">Gallery</a></li>
				<li><a class="nav-links" href="/art">Availabile Art</a></li>
			</ul>
			<!-- Navbar begin-->
			<ul class="nav navbar-nav navbar-right">
				<li><button type="button" class="btn btn-lg contact-us" data-toggle="modal" data-target="#lousContactUs" keyboard="true"><b>Contact Us</b></button></li>
				<!-- Modal Begin-->
				<div class="modal fade" tabindex="-1" role="dialog" id="lousContactUs">

				<div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Contact Us</h4>
				      </div>
				      <div class="modal-body">
				        <div class="container">
						    <div class="row">
						        <div class="col-md-8 col-sm-12 form-well">
						            <div class="well well-sm">
						                <form class="contact-us-form">
						                <div class="row">
						                    <div class="col-md-6 col-sm-12">
						                        <div class="form-group">
						                            <label for="name">
						                                Name</label>
						                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
						                        </div>
						                        <div class="form-group">
						                            <label for="email">
						                                Email Address</label>
						                            <div class="input-group">
						                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
						                                </span>
						                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
						                        </div>
						                        <div class="form-group">
						                            <label for="subject">
						                                Subject</label>
						                            <select id="subject" name="subject" class="form-control" required="required">
						                                <option value="na" selected="">Choose One:</option>
						                                <option value="service">Tables</option>
						                                <option value="suggestions">Desks</option>
						                                <option value="product">Bedroom</option>
						                                <option value="product">Sculpture</option>
						                                <option value="product">Garden</option>
						                                <option value="product">Jewelry Boxes & Coasters</option>
						                                <option value="product">Custom Orders</option>
						                                <option value="product">Photography</option>
						                                <option value="product">Other</option>
						                            </select>
						                        </div>
						                    </div>
						                    <div class="col-md-6 col-sm-12">
						                        <div class="form-group">
						                            <label for="name">
						                                Message</label>
						                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
						                                placeholder="Message"></textarea>
						                        </div>
						                    </div>
						                    <div class="col-md-12">
						                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
						                            Send Message</button>
						                    </div>
						                </div>
						                </form>
						            </div>
						        </div>
						        <div class="col-md-4">
						            <form>
						            <h3><img class="usa-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"> Our office</h3>
						            <address>
						                <strong>Lou Quallenberg Studios</strong><br>
						                1501 Flag St<br>
						                Llano, TX 78643<br>
						                <abbr title="Phone">
						                    P:</abbr>
						                <a href="tel:+01-325-247-4304">325-247-4304</a>
						            </address>
						            <address>
						                <strong>Full Name</strong><br>
						                <a href="mailto:info@LouQart.com">info@LouQart.com</a>
						            </address>
						            </form>
						        </div>
						    </div>
						</div><!--Modal From End -->
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				<!-- Modal End-->
			</ul>
			<!-- Navbar End -->
		</div>
	  </div>
	</nav>
	<div class="container" id="main-container">
		{{{body}}}
	</div>

	
<!-- Footer Beginning-->
<footer class="footer1 foot-color">
<div class="container foot-color">

<div class="row"><!-- row -->
    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                <h1 class="title-widget">Useful links</h1>
                <ul class="footer-list">
                	<li><a  href="#">Resources</a></li>
                    <li><a  href="#">Request Info</a></li>
                    <li><a  href="#">Photography & design</a></li>
                    <li><a  href="#">Sitemap</a></li>
                    <li class="green"><a  href="#">We're <b>Green <i class="el el-leaf"></i></b></a></li>
                    <li><a  href="https://www.houzz.com/pro/lou-quallenberg/lou-quallenberg-studios" target="_blank">houzz</a></li>
                    <li><a  href="#">Catalog</a></li>
                    <li><a  href="#">Press Releases</a></li>
                </ul>
			</li>
        </ul>
    </div><!-- widgets column left end -->
                
    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                <h1 class="title-widget">Useful links</h1>
                <ul class="footer-list">
					<li><a  href="http://www.cowboysindians.com/category/style/art/">Cowboys & Indians</a></li>
                    <li><a  href="https://www.facebook.com/mountainlivingmag/" target="_blank">Mountain Living Magazine</a></li>
                    <li><a  href="#">Catalog</a></li>
                    <li><a  href="#">UG Courses</a></li>
                    <li><a  href="#">Satellite Education</a></li>
                    <li><a  href="#">Study Centres</a></li>
                    <li><a  href="#">State P.G. Mocks</a></li>
                    <li><a  href="#" target="_blank">Results</a></li>
                </ul>
			</li>
        </ul>
    </div><!-- widgets column left end -->

    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
	    <ul class="list-unstyled clear-margins"><!-- widgets -->
	        <li class="widget-container widget_nav_menu"><!-- widgets list -->
	            <h1 class="title-widget">Useful links</h1>
	            <ul class="footer-list">
				    <li><a href="#">Enquiry Form</a></li>
					<li><a href="#">Online Test Series</a></li>
					<li><a href="#">Grand Tests Series</a></li>
					<li><a href="#">Subject Wise Test Series</a></li>
					<li><a href="#">Smart Book</a></li>
					<li><a href="#">Test Centres</a></li>
				    <li><a href="#">Admission Form</a></li>
					<li><a href="#">Computer Live Test</a></li>
	            </ul>
			</li>
	    </ul>
    </div><!-- widgets column left end -->
                
                
    <div class="col-lg-3 col-md-3"><!-- widgets column center -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                <h1 class="title-widget">Contact Detail </h1>
                <div class="footerp"> 
                <h2 class="title-median">Lou Quallenberg Studios</h2>
                <p><b>Email Us:</b> <a href="mailto:info@LouQart.com">info@LouQart.com</a></p>
                <p><b>Call Us:</b> <a href="tel:+01-325-247-4304"></a><b>325-247-4304</b></p>
                </div>
                <div class="social-icons">
                	<ul class="nomargin">
					    <a href="https://www.facebook.com/lou.quallenberg" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
					    <a href="https://twitter.com/quallenberg" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
					    <a href="https://www.linkedin.com/in/louquallenberg" target="_blank"><i class="fa fa-linkedin-square fa-3x social-in" id="social" aria-hidden="true"></i></i></a>
					    <a href="https://www.youtube.com/user/LouQart?feature=watch" target="_blank"><i class="fa fa-youtube-square fa-3x social-yt" id="social"></i></a>
					    <a href="http://mesquite-musings.blogspot.com/" target="_blank"><i class="fi-social-blogger social-bg" id="blogger"></i></a>
					    <a href="http://mesquite-musings.blogspot.com/" target="_blank"><i class="el el-blogger el-3x social-bg" id="blogger"></i></a>
					    <a href="https://www.pinterest.com/quallenberg/our-mesquite-furniture/" target="_blank"><i class="fa fa-pinterest-square fa-3x social-pin" id="social" aria-hidden="true"></i>
                    </ul>
                </div>
        	</li>
        </ul>
    </div>
    </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="copyright">
					<h3>Lou Quallenberg Studio &trade; Made in USA <img class="usa-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"></h3>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="design">
					 <h3>Art, Design, & Lifestyle</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- New Footer END-->

</body>
</html>