<!DOCTYPE html>
<html>
<head>

	<title>Lou Quallenburg Studios</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/style.css">

	
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./javascript/script.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" class="q-logo" src="./img/q-logo.png">
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a class="nav-links" href="/">Home</a></li>
				<li><a class="nav-links" href="#">News</a></li>
				<li><a class="nav-links" href="#">About</a></li>
				<li><a class="nav-links" href="#">Gallery</a></li>
				<li><a class="nav-links" href="#">Availabile Art</a></li>
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					 	<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul> 
				</li> --><!-- dropdown end-->
			</ul>
		</div>
	  </div>
	</nav>
	<div class="container">
		{{{body}}}
	</div>

	<!-- Footer Nav Beginning -->
	<div class="row">
  <div class="nav_footer navbar navbar-default col-md-12 center-text" role="navigation">
    <!-- <span class="owner">Owned and operated by Daria Hunter.</span> -->
    <!-- <div class="footer container center"> -->
      <ul class="nav navbar-nav nav-list">
        <li class="legal-list"><a href="#" class="legal-list">Resources</a></li>
        <li class="legal-list"><a href="#" class="legal-list">Request Info</a></li>
        <li class="legal-list"><a href="#" class="legal-list">Photography & design</a></li>
        <li class="legal-list"><a href="#" class="legal-list">Sitemap</a></li>
      </ul>  
    <!-- </div> -->
  </div>
</div>
	<!-- Footer Nav End -->
</body>
</html>