<!-- Carousel Begin -->
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item carousel-item active">
      <img class="d-block img-fluid" src="http://www.louqart.com/website_596x600.jpg" alt="First slide">
    </div>
    <div class="item carousel-item">
      <img class="d-block img-fluid" src="http://www.louqart.com/drift_front_op_682x454.jpg" alt="Second slide">
    </div>
    <div class="item carousel-item">
      <img class="d-block img-fluid" src="http://www.louqart.com/walker_curve_front_op_682x487.jpg" alt="Third slide">
    </div>
    <div class="item carousel-item">
      <img class="d-block img-fluid" src="http://www.louqart.com/Jackson_029_op_800x702.jpg" alt="Fourth slide">
    </div>
    <div class="item carousel-item">
      <img class="d-block img-fluid" src="http://www.louqart.com/bed_mesquite_op_649x432.jpg" alt="Fifth slide">
    </div>
  </div>

</div> -->

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item item active">
      <img class="d-block img-fluid" src="http://www.louqart.com/website_596x600.jpg" alt="First slide">
    </div>
    <div class="carousel-item item">
      <img class="d-block img-fluid" src="http://www.louqart.com/drift_front_op_682x454.jpg" alt="Second slide">
    </div>
    <div class="carousel-item item">
      <img class="d-block img-fluid" src="http://www.louqart.com/walker_curve_front_op_682x487.jpg" alt="Third slide">
    </div>
    <div class="carousel-item item">
      <img class="d-block img-fluid" src="http://www.louqart.com/Jackson_029_op_800x702.jpg" alt="Fourth slide">
    </div>
    <div class="carousel-item item">
      <img class="d-block img-fluid" src="http://www.louqart.com/bed_mesquite_op_649x432.jpg" alt="Fifth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon  glyphicon glyphicon-chevron-left icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon glyphicon glyphicon-chevron-right icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<div class="col-md-4">
	<img src="http://www.louqart.com/website_596x600.jpg" class="art-img">
</div>

<div class="col-md-7 col-md-offset-1">
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner carousel-zoom">
        <div class="active item art-img"><img class="img-responsive" src="http://www.louqart.com/website_596x600.jpg">
          <div class="carousel-caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>
        <div class="item art-img"><img class="img-responsive" src="http://www.louqart.com/drift_front_op_682x454.jpg">
          <div class="carousel-caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>
        <div class="item art-img"><img class="img-responsive" src="http://www.louqart.com/walker_curve_front_op_682x487.jpg">
          <div class="carousel-caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>
       </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
</div>
</div>
<!-- Carousel End -->

<!--Content Begin -->
<div class="row">
	<div class="col-md-12">
		<h1>Art doesn't ALWAYS come with a frame...</h1>
		<p>
			Lou Quallenberg Studios creates a unique, style of award winning, mesquite furniture that truly captures the essence of the Texas Hill Country. The live edge furniture style has also been called urban organic furniture by the design industry. Lou's work is the ultimate in art and bespoke furniture, custom, handcrafted especially for the upscale luxury interior. It looks just as good in a New York City Penthouse Apartment, Coastal or Mountain Vacation Home, or on that fabulous Colorado, Wyoming, Montana or Texas Ranch.
		</p>
		<p>
			Each piece truly a one of a kind original.
		</p>
		<p>
			Each of our art furniture pieces is signed by the artist, photographed, and then cataloged with the original client / buyer recorded.
		</p>
	</div>
</div>
<!-- Content End -->