<div class="page-column">

  <div class="row page-card">
    <div class="col-xs-12 col-md-6">
     <a href="http://3.bp.blogspot.com/-IoKk27qpRqA/VIiu57D0tMI/AAAAAAAABP0/ka4wB-Xm3Lg/s1600/lou%2Bat%2Baltar%2Blooking.jpg" data-lightbox="image-1" data-title="My caption"><img class="this-page-img" src="http://3.bp.blogspot.com/-IoKk27qpRqA/VIiu57D0tMI/AAAAAAAABP0/ka4wB-Xm3Lg/s1600/lou%2Bat%2Baltar%2Blooking.jpg"></a>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="title">Art Doesn't Always Come With a Frame</h2>
      <p>Lou Quallenberg Studios creates a unique, style of award winning, mesquite furniture that truly captures the essence of the Texas Hill Country. The live edge furniture style has also been called urban organic furniture by the design industry. Lou's work is the ultimate in art and bespoke furniture, custom, handcrafted especially for the upscale luxury interior. It looks just as good in a New York City Penthouse Apartment, Coastal or Mountain Vacation Home, or on that fabulous Colorado, Wyoming, Montana or Texas Ranch.</p>
    </div>
  </div> <!-- page-card row END-->

  <div class="row page-card">
    <div class="col-xs-12 col-md-6">
      <a href="https://2.bp.blogspot.com/-MNBonHvwex0/VJ26CboBuMI/AAAAAAAABQg/YlYAXDvTmU0/s1600/Altar006.jpg" data-lightbox="image-1" data-title="My caption"><img class="this-page-img" src="https://2.bp.blogspot.com/-MNBonHvwex0/VJ26CboBuMI/AAAAAAAABQg/YlYAXDvTmU0/s1600/Altar006.jpg"></a>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="title">Each Piece Truly a One of a Kind Original.</h2>
      <p>Each of our art furniture pieces is signed, photographed, and then cataloged, by the Artist Lou. Your bespoke are piece is showcased with us, and shown off for the world to see.</p>
    </div>
  </div><!-- page-card row END-->

  <div class="row page-card">
    <div class="col-xs-12 col-md-6">
      <a href="http://1.bp.blogspot.com/-NYRCpqnwzXg/VJ2_unKhicI/AAAAAAAABRo/bUyB1woDd9k/s1600/top.jpg" data-lightbox="image-1" data-title="My caption"><img class="this-page-img" src="http://1.bp.blogspot.com/-NYRCpqnwzXg/VJ2_unKhicI/AAAAAAAABRo/bUyB1woDd9k/s1600/top.jpg"></a>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="title">Join Our Family</h2>
      <p>Just about all of our clients return for more of our art. Our pieces are more than just furniture and art they become part of their lives. Quality that lasts a lifetime, and designs that are ageless. Guarantees that our pieces will be enjoyed by your family for generations.</p>
    </div>
  </div> <!-- page-card row END-->

  <div class="row page-card">
    <div class="col-xs-12 col-md-6">
    <a href="http://www.louqart.com/walker_curve_front_op_682x487.jpg" data-lightbox="image-1" data-title="My caption"><img class="this-page-img" src="http://www.louqart.com/walker_curve_front_op_682x487.jpg"></a>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="title">Buy a Quallenberg</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div> <!-- page-card row END-->       

</div><!-- page-column END -->

  
