<!-- Carousel Begin -->

{{!--<div class="col-md-3">--}}
{{!--	<img src="http://www.louqart.com/website_596x600.jpg" class="art-img" id="lone-img">--}}
{{!--</div>--}}

{{!--<div class="col-md-8 col-md-offset-1">--}}
{{!--<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">--}}
{{!--    <ol class="carousel-indicators">--}}
{{!--        <li data-target="#carousel" data-slide-to="0" class="active"></li>--}}
{{!--        <li data-target="#carousel" data-slide-to="1"></li>--}}
{{!--        <li data-target="#carousel" data-slide-to="2"></li>--}}
{{!--    </ol>--}}
{{!--    <!-- Carousel items -->--}}
{{!--    <div class="carousel-inner carousel-zoom">--}}
{{!--        <div class="active item art-img"><img class="img-responsive" src="http://www.louqart.com/website_596x600.jpg">--}}
{{!--          <div class="carousel-caption">--}}
{{!--            <h2>Art that functions as furniture.</h2>--}}
{{!--            <p>They are sure to be real treasures for generations to come.</p>--}}
{{!--          </div>--}}
{{!--        </div>--}}
{{!--        <div class="item art-img"><img class="img-responsive" src="http://www.louqart.com/drift_front_op_682x454.jpg">--}}
{{!--          <div class="carousel-caption">--}}
{{!--            <h2>Art...</h2>--}}
{{!--            <p>doesn't <em>always</em>come with a frame</p>--}}
{{!--          </div>--}}
{{!--        </div>--}}
{{!--        <div class="item art-img"><img class="img-responsive" src="http://www.louqart.com/walker_curve_front_op_682x487.jpg">--}}
{{!--          <div class="carousel-caption">--}}
{{!--            <h2>Each Piece</h2>--}}
{{!--            <p>Is truly a one of a kind original</p>--}}
{{!--          </div>--}}
{{!--        </div>--}}
{{!--       </div>--}}
{{!--    <!-- Carousel nav -->--}}
{{!--    <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>--}}
{{!--    <a class="carousel-control right" href="#carousel" data-slide="next">›</a>--}}
{{!--</div>--}}
{{!--</div>--}}
{{!--<!-- Carousel End -->--}}

{{!--<!--Content Begin -->--}}
{{!--<div class="row">--}}
{{!--	<div class="col-md-12">--}}
{{!--		<h1>Art doesn't ALWAYS come with a frame...</h1>--}}
{{!--		<p>--}}
{{!--			Lou Quallenberg Studios creates a unique, style of award winning, mesquite furniture that truly captures the essence of the Texas Hill Country. The live edge furniture style has also been called urban organic furniture by the design industry. Lou's work is the ultimate in art and bespoke furniture, custom, handcrafted especially for the upscale luxury interior. It looks just as good in a New York City Penthouse Apartment, Coastal or Mountain Vacation Home, or on that fabulous Colorado, Wyoming, Montana or Texas Ranch.--}}
{{!--		</p>--}}
{{!--		<p>--}}
{{!--			Each piece truly a one of a kind original.--}}
{{!--		</p>--}}
{{!--		<p>--}}
{{!--			Each of our art furniture pieces is signed by the artist, photographed, and then cataloged with the original client / buyer recorded.--}}
{{!--		</p>--}}
{{!--	</div>--}}
{{!--</div>--}}
<!-- Content End -->

<head>
  {{!--<link rel="stylesheet" type="text/css" href="./css/main.css">--}}
</head>
<div class="container main-body">
  <div class="widget">
    <div class='cycle-slideshow' data-cycle-allow-wrap='true' data-cycle-fx='carousel' data-cycle-next='#next' data-cycle-pager-template="<a href='#' class='thumb'><img src='{{children.0.src}}'></a>" data-cycle-pager='#thumbnails' data-cycle-prev='#prev' data-cycle-slides='figure' data-cycle-timeout='0'>
      <figure>
        <img alt="Dancing Trees" src="https://3.bp.blogspot.com/-IoKk27qpRqA/VIiu57D0tMI/AAAAAAAABP0/ka4wB-Xm3Lg/s1600/lou%2Bat%2Baltar%2Blooking.jpg">
        <figcaption>
          <h3>Dancing Trees</h3>
          <span class="tag">Used in a Church</span>
          <p>Possimus deserunt nisi perferendis, consequuntur odio et aperiam, est, dicta dolor itaque sunt laborum, magni qui optio.</p>
          <div class="rating">
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
          </div>
        </figcaption>
      </figure>
      <figure>
        <img alt="Rustic Church" src="http://1.bp.blogspot.com/-gZ3i2hfoN-w/VIivCcOS8xI/AAAAAAAABP8/nmv0ti_ODRo/s1600/Chapel%2Bfront.jpg">
        <figcaption>
          <h3>Rustic ReChurch</h3>
          <span class='tag'>In the land of Texas</span>
          <p>Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur repudiandae.</p>
          <div class='rating'>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star-o'></span>
            <span class='fa fa-star-o'></span>
          </div>
        </figcaption>
      </figure>
      <figure>
        <img alt='Delicious Desserts' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/third-course.jpg'>
        <figcaption>
          <h3>Delicious Desserts</h3>
          <span class='tag'>Seasonal Ingredients</span>
          <p>Vel nam odio dolorem, voluptas sequi minus quo tempore, animi est quia earum maxime. Reiciendis quae repellat, modi non, veniam.</p>
          <div class='rating'>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star'></span>
            <span class='fa fa-star-o'></span>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class='slideshow-nav'>
      <div id='prev'>
        <span class='fa fa-lg fa-chevron-left'></span>
      </div>
      <div id='next'>
        <span class='fa fa-lg fa-chevron-right'></span>
      </div>
      <div id='thumbnails'></div>
    </div>
  </div>
</div>