body, html {
  background-image: url("http://3.bp.blogspot.com/-IoKk27qpRqA/VIiu57D0tMI/AAAAAAAABP0/ka4wB-Xm3Lg/s1600/lou%2Bat%2Baltar%2Blooking.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Oxygen', sans-serif;
}

.title {
  font-family: 'Crimson text', sans-serif;
}

.page-column {
  margin: 0 auto;
  max-width: 800px;
  background:rgba(255,255,255, 0.65);
  min-height: 100%;
  padding: 0 5px;
}

.this-page-img {
  max-width: 100%
}

.page-card {
  height: 300px;

}