@media screen and (max-width: 1099px) {
	.modal-lg {
	width: 900px;
	} 
	
	div.well.well-sm {
		width: 420px;
	}
	.contact-us-form{
		width: 400px;
	}
	
	input.form-control#email {
		width: 360px;
	}
}

/*---- Bottom footer and container*/
@media screen and (max-width: 950px) {
	footer.footer1.foot-color {
		padding-bottom: 55px;
	}
}

@media screen and (max-width: 930px) {
	.modal-lg, .contact-us-form, div.well.well-sm {
		width: 500px;
	}
	.modal-content{
		width: 600px
	}

	.form-control {
	width: 400px; 
	} 

	.input-group-addon{
		width: 20px;
	}
}

@media screen and (max-width: 770px) {
	.modal-dialog, .modal-content, div.well.well-sm,  {
	width: 500px; 
	} 

	.contact-us-form {
		width: 400px;
	}

	.form-control, {
		width: 300px;
	}

	input.form-control#email {
		width: 360px;
	}

	.input-group-addon {
		width: 20px;
	}
}

@media screen and (max-width: 500px) {
	.modal-dialog, .modal-content  {
	width: 380px; 
	margin: 0 auto;
	} 

	div.well.well-sm {
		width: 300px;
		margin: 0 auto;
	}

	.contact-us-form {
		width: 250px;
	}

	.form-control {
		width: 250px;
	}

	input.form-control#email {
		width: 211px;
	}

	.input-group-addon {
		width: 20px;
	}
}

@media screen and (max-width: 400px) {
	.modal-dialog, .modal-content  {
	width: 300px;
	margin: 0 auto; 
	} 

	.div.well.well-sm {
		position: relative;
		right: 27px;
	}

	.contact-us-form {
		width: 250px;
	}

	.form-control {
		width: 250px;
	}

	input.form-control#email {
		width: 211px;
	}

	.input-group-addon {
		width: 20px;
	}

	.form-well{
		position: relative;
    	right: 27px
	}

}

@media screen and (max-width: 300px) {
	.modal-dialog, .modal-content  {
	width: 280px;
	margin: 0 auto; 
	} 

	.div.well.well-sm {
		margin: 0 auto;
	}

	.contact-us-form {
		width: 250px;
	}

	.form-control {
		width: 250px;
	}

	input.form-control#email {
		width: 211px;
	}

	.input-group-addon {
		width: 20px;
	}

	.form-well{
		position: relative;
    	right: 27px
	}

}