#main-container {
	margin-bottom: 55px;
}

.q-logo {
	height: 50px;
    position: relative;
    bottom: 25px;
    right: 4px;
    font-family: 'Crimson Text', serif;
    background: -webkit-linear-gradient(#fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}    

#footer-list {
	display: inline-block;
    position: relative;
    left: 31%;
}

/*Images*/
.art-img {
	height: 400px;
}

#lone-img {
    width: 100%;
}


/*Bootstrap Gallery*/
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.contact-us {
    position: relative;
    top: 2px;
}

.modal-lg {
    width: 1100px;
}

.modal-backdrop {
    opacity:.9 !important;
}
/*Bootstrap Gallery*/